In [5]:
a = 10    # 정수형 변수
b = 11.4  # 실수형 변수

In [6]:
print(type(a), type(b))

<class 'int'> <class 'float'>

In [13]:
print(a, b)
b                                   # 중간에 적으면 출력 x
                                    # the last variable only is printed out
print(a, 100, 200, b)
print(a, 100, 200, b, sep=', ', end='---------') # seperation , end mark
a, b

10 11.4
10 100 200 11.4
10, 100, 200, 11.4---------

(10, 11.4)

In [12]:
a, b    # print 와 출력 형태가 다르다.

(10, 11.4)

## None type data
```python
int c;
if(true){
    c = 100;
}
printf("%d \n", c);

```

In [17]:
c = None
if True :
    c = 100
print(c)

100

In [18]:
a = 10
b = 11.4
c = None

In [22]:
c = a > b
print(c, type(c))

False <class 'bool'>

In [23]:
c, type(c)

(False, bool)

#### $a^b$ 의 계산

In [29]:
a, b, c = 2, 3, None
a**b

8

# string

In [36]:
c = "'hello' world !!!"
d = '"hello" world !!!'

print(c, d, type(c), type(d), sep=' , ')

'hello' world !!! , "hello" world !!! , <class 'str'> , <class 'str'>

In [40]:
c = """`hello'

world !!!"""

d = '''"hello"

world !!!'''

print(c)
print(d)

`hello'

world !!!
"hello"

world !!!

In [ ]:
a = 'hello world'
print(a)
print(a[0])
print(a[10])
print(a[-1])
print(a[-2])
print(a[-11])

### Slicing

In [45]:
a = 'hello world'
print(a[0:1])
print(a[0:4])
print(a[1:7]) # for(int i = 1; i<7; i++){}

h
hell
ello w

In [46]:
print(a[:4])
print(a[3:])

hell
lo world

In [47]:
print(a[:])

hello world

### functions : upper(), replace()

In [59]:
a = 'heLLo world'
b = a.upper()      # a.upper()를 한다고 해서 a가 바뀌지는 않음.

In [60]:
print(a)
print(b)

heLLo world
HELLO WORLD

In [63]:
c = b.lower()

heLLo world hello world

In [64]:
print(a, c)

heLLo world hello world

In [70]:
d = a.replace('LL','llxxx') # 'LL' -> 'll'

In [71]:
print(a, d)

heLLo world hellxxxo world

In [66]:
b.replace('h','hhh') # 'h' x -> string is unchanged

'HELLO WORLD'

### functions : format(), split()

In [75]:
temp = 25.5
prob = 80.8
a = '오늘 기온 {}, 비올 확률 {}%'. format(temp,prob)
print(a)

오늘 기온 25.5, 비올 확률 80.8%

In [76]:
a.split()

['오늘', '기온', '25.5,', '비올', '확률', '80.8%']