<a href="https://colab.research.google.com/github/dhkdsns20/Deep-Learning/blob/main/week2_p1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a=[1,10,20,100]
i=0
while i<len(a):
  print('value=',a[i],'index=',i)
  i+=1

value= 1 index= 0
value= 10 index= 1
value= 20 index= 2
value= 100 index= 3

In [3]:
for i in a:
  print(i,i*2)

1 2
10 20
20 40
100 200

In [4]:
a='hello world'
for char in a:
  print(char)

h
e
l
l
o

w
o
r
l
d

In [5]:
a = {'korea':'seoul', 'canada': 'ottawa'}
for i in a:
  print(i,a[i])

korea seoul
canada ottawa

In [6]:
for key in a.keys():
  print(key,a[key])

korea seoul
canada ottawa

In [8]:
for value in a.values():
  print(value)

seoul
ottawa

In [20]:
b = list(a.items())
print(type(b))

<class 'list'>
('korea', 'seoul') 2

In [24]:
for key in b:
  print(key)

('korea', 'seoul')
('canada', 'ottawa')

In [25]:
a=[10,20,30,40]
for index, value in enumerate(a):
  print(index,value)

0 10
1 20
2 30
3 40

In [26]:
a=[10,20,30,40,50,60,70]
for value in a:
  if value>30 and value<70:
    continue
  print(value)

10
20
30
70

In [28]:
a=[1,2,3]
for i in a:
  for j in a:
    print (i,'x',j,'=',i*j)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [29]:
a = [1,2,3]
print(len(a))

3

In [32]:
b = list(range(10))
c = list(range(10,20))
d = list(range(20,30,2))
b,c,d

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [20, 22, 24, 26, 28])

In [33]:
def add2(x,y):
  n= x + y
  return n

In [34]:
hap = add2(1,2)
print(hap)
hap

3

3

In [36]:
def testreturn(x,y,z=1):
  print(x)
  print(y)
  print(z)

a = testreturn(1,2)
print(a)

1
2
1
None

In [37]:
def add_mul(x,y):
  a = x + y
  b = x * y
  return a,b

In [40]:
a = add_mul(1,2)
print(a)
print(type(a))

(3, 2)
<class 'tuple'>

In [44]:
b,c = add_mul(1,2)
print(b,c)
print(type(b),type(c))

3 2
<class 'int'> <class 'int'>

In [46]:
def test(*args):
  print(type(*args))
  for item in args:
    print(item)

test()
test(1)
test(1,2)

<class 'tuple'>
<class 'tuple'>
1
<class 'tuple'>
1
2

In [51]:
def test2(**x):
  print(type(x))
  for key in x:
    print(key,x[key])

In [52]:
test2(a=1,b=2,c=3,d=4,name='hong')

<class 'dict'>
a 1
b 2
c 3
d 4
name hong

In [53]:
a = "온도 : {}, 습도 : {}".format(10,20)
print(a)

온도 : 10, 습도 : 20

In [56]:
square2 = lambda x:x**2
print(square2(2))
print(type(square2))
type(square2)

4
<class 'function'>

function

In [57]:
string = ['bob','charles','teddy']
string.sort()
print(string)

['bob', 'charles', 'teddy']

In [58]:
len(string)

3

In [65]:
def str_len(s):
  return len(s)
string.sort(key = str_len)
print(string)

['bob', 'teddy', 'charles']

In [66]:
string.sort(key=lambda s:len(s))
print(string)

['bob', 'teddy', 'charles']

In [67]:
def even(n):
  return n%2==0

a = [10,13,2,3,8,9,17]
b = list(filter(even,a))
print(b)

[10, 2, 8]

In [68]:
a = [10,13,2,3,8,9,17]
b = list(filter(lambda n:n%2==0,a))
print(b)

[10, 2, 8]

In [69]:
a = [10,13,2,3,8,9,17]
b = list(map(lambda n:n%2==0,a))
print(b)

[True, False, True, False, True, False, False]

In [70]:
a = [10,13,2,3,8,9,17]
b = list(map(lambda n:n**2,a))
print(b)

[100, 169, 4, 9, 64, 81, 289]

In [71]:
def mean(nums):
  sum = 0
  for i in nums:
    sum += i
  return sum/len(nums)

a = range(100)
b = mean(a)
print(b)

49.5

In [91]:
def is_prime(num):
  for i in range(2,num):
    if num%i == 0:
      return False
  return True

print(is_prime(5))
print(is_prime(25))

True
False

In [82]:
def num_prime(num):
  count = 0
  for i in range(2,num+1):
    if is_prime(i):
      count += 1
  return count

print(num_prime(5))
print(num_prime(7))
print(num_prime(100))

3
4
25

In [98]:
# def num_prime2(nums):
#   count = 0
#   primelist = []
#   for i in range(2,nums+1):
#     if is_prime(i):
#       count += 1
#       primelist.append(i)
#   return count,primelist

In [100]:
num, primelist = num_prime(10)
print(num)
print(primelist)

4
<function num_prime at 0x7fef1ed1ff60>

In [102]:
def num_prime(nums):
    count = 0
    primeNum = []
    for num in range(2,nums+1):
        if is_prime(num):
            count += 1
            primeNum.append(num)
    return count,primeNum

num, primelist = num_prime(10)
print(num)
print(primelist)

4
[2, 3, 5, 7]

In [104]:
import math
sin(100)

-0.5063656411097588